extends layout

block content
  h1 #{title}
  form(method='POST', action='/blogs/edit/'+blog._id)
    .form-group
      label Title:
      input.form-control(name='title', type='text', value=blog.title)
    .form-group
      label Author:
      input.form-control(name='author', type='text', value=blog.author)
    .form-group
      label Body:
      textarea.form-control(name='body')= blog.body
    br
    input.btn.btn-primary(type='submit', value='Submit')
